# Mark common image files to be treated as binary (images)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.bmp binary
*.tiff binary
git add .gitattributes
git commit -m "Update .gitattributes for image display"
git push
